@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+24&display=swap');

$text: #f4e8e8;
$background: #0a0a0a;
$primary: #895384;
$secondary: #3d253b;
$accent: #fcbd6a;

$orange: #e46d3a;
$red: #f41c1c;
$dark-red: #8f1818;
$blue: #64bfdd;

$base-font: 'Inter', sans-serif;
